html {
    --color-white: #ffffff;
    --color-gray: #FAFAFA; 
    --color-green: #8AFEE1;
    --color-magenta: #FA2E7F;
    --color-pink: #F2C5CC;
    --color-yellow: #FDBF2C;
    --color-black: #222222;
}