.contact {
    background: var(--color-gray);
}

.contact__title {
    text-align: center;
}

.contact__form {
    max-width: 515px;
    width: 100%;
    margin: 110px auto 0;
    display: block;
}

.contact__row {

}

.contact__label {
    display: block;
    margin-bottom: 7px;
}

.contact__input {
    display: block;
    width: 100%;
    border: none;
    background: var(--color-green);
    padding: 12px 80px 12px 25px;
    border-radius: 12px;
    font-family: Arial;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.24px;
    margin-bottom: 28px;
}

.contact__input--textarea {
    min-height: 170px;
    resize: none;
}

.contact__button {
    background: var(--color-magenta);
    padding: 20px;
    width: 100%;
    display: block;
    border-radius: 12px;
    border: none;
    font-family: Arial;
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.24px;
    text-align: center;
    margin-top: 44px;
}

@media (min-width: 960px) {
    .contact__row {
        display: flex;
        justify-content: flex-end;
    }

    .contact__label {
        flex: 1 1 35%;
        margin-top: 12px;
    }

    .contact__input,
    .contact__button {
        flex: 0 1 65%;
    }

    .contact__button {
        margin-top: 0;
    }
}