.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100vh;
}

.hero__title {

}

.hero__points,
.hero__point {
    display: none;
}

.pill {
    display: inline-block;
    padding: 15px 40px;
    border-radius: 14px;
    margin: 21px 0;
    width: 247px;
    background: var(--pill-background);
    transition: all 0.3s ease-in;
    overflow: hidden;
    height: 76px;
    position: relative;
}

.pill--design {
    --pill-background: var(--color-green);
}

.pill--fulfilment {
    --pill-background: var(--color-magenta);
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;  
    }
}

.pill__text {
    width: calc(100% - 80px);
    text-align: center;
    position: absolute;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
    animation: slideIn 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.pill__text--hidden {
    transform: translateY(-100%);
    opacity: 0;
}

@media (min-width: 960px) {

    .hero {
        height: 100vh;
        max-height: 720px;
        min-height: 600px;
    }

    .hero__title {
        margin-top: 90px;
    }

    .hero__slogan {
        width: 650px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 50%;
        transform: translate(-70%);
    }

    .hero__you-design,
    .hero__we-fulfil {
        flex: 1 0 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .hero__points,
    .hero__point,
    .hero__we,
    .hero__you {
        display: inline-block;
    }

    .hero__point, 
    .hero__points {
        margin-left: 24px;
    }

    .hero__you,
    .hero__we {
        padding: 0;
        margin-left: 0;
        width: 280px;
        text-align: right;
        margin-right: 24px;
    }

    .pill {
        width: 284px;
        height: 88px;
    }

}